@model Clientes
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Cliente
    </div>
    <div class="card-body">

        <form asp-action="Crear" asp-controller="Clientes" method="post">


            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="nombre_cliente" type="text" class="form-control">
                <span asp-validation-for="nombre_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input asp-for="apellido_cliente" type="text" class="form-control">
                <span asp-validation-for="apellido_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">DPI</label>
                <input asp-for="dpi_cliente" type="text" class="form-control">
                <span asp-validation-for="dpi_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">NIT</label>
                <input asp-for="nit_cliente" type="text" class="form-control">
                <span asp-validation-for="nit_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Telefono</label>
                <input asp-for="telefono_cliente" type="text" class="form-control">
                <span asp-validation-for="telefono_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Direccion</label>
                <input asp-for="direccion_cliente" type="text" class="form-control">
                <span asp-validation-for="direccion_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="correo_cliente" type="text" class="form-control">
                <span asp-validation-for="correo_cliente" class="text-danger"></span>
            </div>



            <button type="submit" class="btn btn-primary"><i class="bi bi-person-up"></i> Guardar</button>
            <a asp-action="Listar" asp-controller="Clientes" class="btn btn-warning"><i class="bi bi-list-ul"></i> Volver a la lista</a>
        </form>


    </div>
</div>
