@model CategoriaProductos
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Categoria Producto
    </div>
    <div class="card-body">

        <form asp-action="Editar" asp-controller="CategoriaProductos" method="post">

            <input asp-for="id_categoria" type="hidden" class="form-control">

            <div class="mb-3">
                <label class="form-label">Nombre de categoria</label>
                <input asp-for="nombre_categoria" type="text" class="form-control">
                <span asp-validation-for="nombre_categoria" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion de la categoria</label>
                <input asp-for="descripcion_categoria" type="text" class="form-control">
                <span asp-validation-for="descripcion_categoria" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Actualizar</button>
            <a asp-action="Listar" asp-controller="CategoriaProductos" class="btn btn-warning"> <i class="bi bi-list-ul"></i> Volver a la lista</a>
        </form>


    </div>
</div>
