@model Caja
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Cerrar Corte de Caja
    </div>
    <div class="card-body">

        <form asp-action="Editar" asp-controller="Caja" method="post">

            <input asp-for="id_caja" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea cerrar el corte de caja numero: @Html.DisplayTextFor(m => m.id_caja) ?
            </div>


            <button type="submit" class="btn btn-danger"><i class="bi bi-pencil-square"></i> Cerrar</button>
            <a asp-action="estados" asp-controller="Caja" class="btn btn-warning"> <i class="bi bi-list-ul"></i> Volver a la lista</a>
        </form>


    </div>
</div>

