﻿@using System.Text.Json
@using System.Security.Claims
@{
    var currentUser = Context.User.Identity as ClaimsIdentity;
    var userName = currentUser?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<ul class="navbar-nav">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-white">Hola, @userName</span>
        </li>

        <li class="nav-item">
            <form class="form-check-inline" asp-controller="Acceso" asp-action="Salir">
                <button type="submit" class="nav-link btn btn-link text-white">Cerrar Sesion</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Acceso" asp-action="Login">Login</a>
        </li>
    }
</ul>
